:root {
    /* blue version */
    --svg-icon-hover-filter: invert(33%) sepia(68%) saturate(1476%) hue-rotate(206deg) brightness(96%) contrast(88%);
    /* orange version like sidebar highlighting */
    /* --svg-icon-highlight-filter: invert(48%) sepia(78%) saturate(785%) hue-rotate(1deg) brightness(105%) contrast(103%); */ /* if darkorange */
    /* dodgerblue version like sidebar highlighting */
    --svg-icon-highlight-filter: invert(43%) sepia(38%) saturate(3310%) hue-rotate(195deg) brightness(102%) contrast(107%);
    --entitySidebar-highlighting-colour: dodgerblue;
    --entitySidebar-textHighlighting-colour: steelblue;
}

.entitySidebar {
    position: absolute;
    width: auto;
    height: auto;
}

.entityShapes-container {
    /* Fix me: with the following line small space disappears but always overflow.. */
    /* display:inline-block; */
}

.entityShapes-headline {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: content-box;
    border-bottom: 3px solid var(--toolbar-line-colour);
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    /* background-color: var(--toolbar-line-colour); */
    background-color: #70828D;
    color: white;
}

.expandEntityIcon {
    cursor: pointer;
}

.expandEntityIcon:hover {
    /* filter: invert(11%) sepia(79%) saturate(4175%) hue-rotate(356deg) brightness(88%) contrast(117%);
    -webkit-filter: invert(11%) sepia(79%) saturate(4175%) hue-rotate(356deg) brightness(88%) contrast(117%); */
    /* filter: invert(62%) sepia(43%) saturate(6433%) hue-rotate(21deg) brightness(96%) contrast(91%);
    -webkit-filter: invert(62%) sepia(43%) saturate(6433%) hue-rotate(21deg) brightness(96%) contrast(91%); */
    filter: var(--svg-icon-hover-filter);
    -webkit-filter: var(--svg-icon-hover-filter);
}

/* TODO: keep? */
/* .entityShape:hover~.expandEntityIcon,
.entityLabel:hover~.expandEntityIcon {
    filter: var(--svg-icon-hover-filter);
    -webkit-filter: var(--svg-icon-hover-filter);
} */

/* .entityHighlighting:hover,
.entityHighlighting:active { */
/* fill: darkgoldenrod; */
/* stroke: darkorange; */
/* stroke: dodgerblue; */
/* stroke: firebrick; */
/* stroke: gold; */
/* stroke: seagreen; */
/* stroke: red;  */
/* } */

.highlightEntity>* {
    /* stroke: darkorange; */
    stroke: var(--entitySidebar-highlighting-colour);
    /* stroke: steelblue; */
}

.highlightEntity text {
    /* fill: darkorange; */
    /* fill: dodgerblue; */
    fill: var(--entitySidebar-textHighlighting-colour);
    stroke-width: 0.5px;
}

.highlightEntity image,
.highlightEntity image:hover {
    filter: var(--svg-icon-highlight-filter);
    -webkit-filter: var(--svg-icon-highlight-filter);
}

.sidebarConnection {
    cursor: "move"
}

.modelingArea-Connection {
    cursor: "pointer"
}
